.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.answer{
    text-shadow: 
    1px 1px 0 black, 
   -1px 1px 0 black, 
    1px -1px 0 black, 
   -1px -1px 0 black; /* Outline color */
}

.tile, th, td {
  border: 1px solid black;
}

.tile{
    width: 500px;
    height: 500px;
    background-color: ghostwhite;
    border: 10px solid black;
    border-collapse: collapse;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.tile td{
    width: 50px;
    height: 50px;
    background-color: rgba(123,123,123,0.7);
}


.colors{
    margin-left: 30px;
}

.colors p{
    width: 30px;
    height: 30px;
    background-color: gray;
    border:1px solid transparent;
    border-radius: 50%;
}

.colors p:nth-child(1){
    background-color: red;
}

.colors p:nth-child(2){
    background-color: blue;
}

.colors p:nth-child(3){
    background-color: yellow;
}

.colors p:nth-child(4){
    background-color: green;
}

.colors p:nth-child(5){
    background-color: purple;
}